services:
  mi_riina:
    build: .
    container_name: mi_riina
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./config:/app/config:ro
      - ./data:/app/data
      - ./logs:/app/logs
