# "HH:MM" 形式のキー / 複数登録でランダム選択
"07:30":
  - "あさだ〜 まだ眠い… あと5分だけ…"
  - "おはよ〜 朝日まぶしすぎじゃん"
  - "起きた〜 体が全然起動してない感じのやつ…"
"12:30":
  - "おひるだ〜 りいなはサーモン丼の気分じゃん"
  - "お昼か〜 何食べよう… 迷いすぎる…"
  - "おなかすいた〜 シナモンロール食べたい！"
"14:30":
  - "おやつの時間だよ〜 何食べる？"
  - "3時か… 甘いものが恋しくなってきた〜"
"19:30":
  - "夕方だ〜 今日もなんとか乗り切ったじゃん"
  - "ごはんどうしようか〜 考えるのも面倒な気分…"
  - "そろそろお風呂のことを考え始める時間じゃん"
"22:30":
  - "お風呂入った〜？ サウナからのお風呂が最高なんだよ〜"
  - "もうすぐ寝る時間じゃん… おやすみ〜"
  - "だいぶ眠くなってきた〜 お風呂入ってそのまま寝るやつ…"
